
.primary-back {
  background-color: var(--el-color-primary);
}

.primary-back-light1 {
  background-color: var(--el-color-primary-light-1);
}

.primary-back-light2 {
  background-color: var(--el-color-primary-light-2);
}
.primary-back-light3 {
  background-color: var(--el-color-primary-light-3);
}
.primary-back-light4 {
  background-color: var(--el-color-primary-light-4);
}
.primary-back-light5 {
  background-color: var(--el-color-primary-light-5);
}


.initial-bg {
  background: initial !important;
}
.primary-color {
  color: var(--el-color-primary);
}



